<h1>{{ template.page.title }}<br><small>{{ template.page.description }}</small></h1>

<ul class="list-unstyled">
    {% for section in template.page.sections %}
        <li><a href="#{{ str_slug(section, '-') }}">{{ str_humanize(section, '-') }}</a></li>
    {% endfor %}
</ul>

<hr>
